{% extends "track_my_moves/trackMyMoves.html" %}
{% load static %}

{% block charts %}{% endblock charts %}

{% block title %}{% endblock title %}

{% block body %}
    <header>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand my-0 h1 fs-3" href="{% url "usersAdmin" %}">
                    <img src="{% static "track_my_moves/transparent-logo.png" %}" alt="TrackMyMoves logo" width="40" height="40" class="d-inline-block align-text-center">
                    TrackMyMoves administration
                </a>
                {% include "track_my_moves/logOutForm.html" %}
            </div>
          </nav>
    </header>

    {% block content %}{% endblock content %}

{% endblock body %}