{% extends "track_my_moves/trackMyMoves.html" %}

{% block title %} Log in {% endblock title %}

{% block body %}
    <div class="h-100 d-flex justify-content-center align-items-center">
        <div class="card" style="min-width: 50%">
            <h2 class="card-header">TrackMyMoves</h2>
            <div class="card-body">
                {% include "track_my_moves/logInForm.html" %}
            </div>
            {% if alertLogIn %}
                <div class="card-footer alert alert-warning mb-0" role="alert">
                    {{alertLogIn}}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock body %}