{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static "track_my_moves/style.css" %}">
{% endblock links %}

{% block title %} Log in {% endblock title %}

{% block body %}
    <div class="h-100 d-flex justify-content-center align-items-center">
        <div class="card" style="min-width: 50%">
            <h2 class="card-header">TrackMyMoves</h2>
            <div class="card-body">
                {% include "track_my_moves/logInForm.html" %}
            </div>
        </div>
    </div>
{% endblock body %}