# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# venv
venv_track_my_moves/

# python
__pychache__/
*.py[cod]

#django
migrations/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo